[Unit]
Description=WebRTC Ring Service

[Service]
ExecStart=/usr/local/bin/ring
EnvironmentFile=-/etc/ring/ring.conf

[Install]
WantedBy=multi-user.target